<h1>{{title}}</h1>

<input type="text" name="Name" #name placeholder="Enter your name"><br>
<br>
<input type="text" name="Address" #address placeholder="Enter your address"><br>
<br>
<input type="text" name="Contact" #Contact placeholder="Enter your contact"><br>
<br>
<input type="text" name="email" #email placeholder="Enter your email"><br>
<br>
<button (click)="getValue(name.value,address.value,Contact.value,email.value)">Register</button>

<h1>Your Registered Data</h1>

<p>Name:{{displayname}}</p>
<p>Address:{{displayaddress}}</p>
<p>Contact:{{displaycontact}}</p>
<p>email: {{displayemail}}</p>